In [1]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.metrics.classification import accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.regression import r2_score, mean_squared_error
from sklearn.preprocessing import MinMaxScaler

from dbn.tensorflow import SupervisedDBNRegression

In [2]:
# Read the dataset
ROAD = "Taft Ave."
YEAR = "2015"
EXT = ".csv"
WINDOWSIZE = 5
TRANSFORMED = True

if TRANSFORMED:
    FILENAME = "eng_win" + str(WINDOWSIZE) + "_mmda_" + ROAD + "_" + YEAR + "_transformed"
else:
    FILENAME = "eng_win" + str(WINDOWSIZE) + "_mmda_" + ROAD + "_" + YEAR

In [3]:
original_dataset = pd.read_csv("data/mmda/" + FILENAME + EXT, skipinitialspace=True)
original_dataset = original_dataset.fillna(0)
original_dataset.head()

,dt,lineName,stationName,statusN,statusS,statusN_Emean,statusN_Emin,statusN_Emax,statusN_Esum,statusN_Rmean (window = 5),statusN_Rmin (window = 5),statusN_Rmax (window = 5),statusS_Emean,statusS_Emin,statusS_Emax,statusS_Esum,statusS_Rmean (window = 5),statusS_Rmin (window = 5),statusS_Rmax (window = 5)
0,01/01/2015 0:00,EDSA,Taft Ave.,0.231394,0.408168,0.231394,0.231394,0.231394,0.231394,0.000000,0.0,0.000000,0.408168,0.408168,0.408168,0.408168,0.000000,0.0,0.000000
1,01/01/2015 0:15,EDSA,Taft Ave.,0.237548,0.407201,0.234471,0.231394,0.237548,0.468942,0.000000,0.0,0.000000,0.407685,0.407201,0.408168,0.815369,0.000000,0.0,0.000000
2,01/01/2015 0:30,EDSA,Taft Ave.,0.243492,0.406253,0.237478,0.231394,0.243492,0.712434,0.000000,0.0,0.000000,0.407207,0.406253,0.408168,1.221622,0.000000,0.0,0.000000
3,01/01/2015 0:45,EDSA,Taft Ave.,0.249231,0.405322,0.240416,0.231394,0.249231,0.961665,0.000000,0.0,0.000000,0.406736,0.405322,0.408168,1.626944,0.000000,0.0,0.000000
4,01/01/2015 1:00,EDSA,Taft Ave.,0.254765,0.404408,0.243286,0.231394,0.254765,1.216430,0.046279,0.0,0.231394,0.406270,0.404408,0.408168,2.031352,0.081634,0.0,0.408168

##### Preparing Traffic Dataset

In [4]:
original_dataset = pd.read_csv("data/mmda/" + FILENAME + EXT, skipinitialspace=True)
original_dataset = original_dataset.fillna(0)
traffic_dataset = original_dataset
# Remove date time. Remove unused columms
#0-2 = dt + lineName + stationName || 3-4 - statusN - statusS || 5-14 - original weather variables
#15-46 - engineered traffic
cols_to_remove = [0, 1, 2]

# window 1
statusN = list(range(5, 9))
statusS = list(range(12, 16))

cols_to_remove += statusN + statusS

# window >= 2
statusN2 = list(range(9, 12))
statusS2 = list(range(16, 19))

#cols_to_remove += statusN2 + statusS2

#cols_to_remove += [3, 4] #statusN , statusS

traffic_dataset.drop(traffic_dataset.columns[[cols_to_remove]], axis=1, inplace=True)
traffic_dataset.head()

,statusN,statusS,statusN_Rmean (window = 5),statusN_Rmin (window = 5),statusN_Rmax (window = 5),statusS_Rmean (window = 5),statusS_Rmin (window = 5),statusS_Rmax (window = 5)
0,0.231394,0.408168,0.000000,0.0,0.000000,0.000000,0.0,0.000000
1,0.237548,0.407201,0.000000,0.0,0.000000,0.000000,0.0,0.000000
2,0.243492,0.406253,0.000000,0.0,0.000000,0.000000,0.0,0.000000
3,0.249231,0.405322,0.000000,0.0,0.000000,0.000000,0.0,0.000000
4,0.254765,0.404408,0.046279,0.0,0.231394,0.081634,0.0,0.408168

In [5]:
shift = 1

In [6]:
# To-be Predicted variable 
Y = traffic_dataset.statusS
Y = Y.shift(-shift)
Y = Y.fillna(0)
Y = Y.round(5)
Y = Y[:-shift]

In [7]:
# Other data
X = traffic_dataset [:-shift]
#X = dataset
#X.statusS = X.statusS.round(5)

# Splitting data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, shuffle=False)
X_train = np.array(X_train)
X_test = np.array(X_test)
Y_train = np.array(Y_train)
Y_test = np.array(Y_test)

# Data scaling
min_max_scaler = MinMaxScaler()
X_train = min_max_scaler.fit_transform(X_train)

In [8]:
# Training
regressor = SupervisedDBNRegression(hidden_layers_structure=[5, 10, 15],
                                    learning_rate_rbm=0.01,
                                    learning_rate=0.01,
                                    n_epochs_rbm=3,
                                    n_iter_backprop=5,
                                    batch_size=16,
                                    activation_function='relu')
regressor.fit(X_train, Y_train)

[START] Pre-training step:
>> Epoch 1 finished 	RBM Reconstruction error 0.192876
>> Epoch 2 finished 	RBM Reconstruction error 0.161004
>> Epoch 3 finished 	RBM Reconstruction error 0.105368
>> Epoch 1 finished 	RBM Reconstruction error 0.095035
>> Epoch 2 finished 	RBM Reconstruction error 0.079706
>> Epoch 3 finished 	RBM Reconstruction error 0.070547
>> Epoch 1 finished 	RBM Reconstruction error 0.041428
>> Epoch 2 finished 	RBM Reconstruction error 0.040087
>> Epoch 3 finished 	RBM Reconstruction error 0.036001
[END] Pre-training step
[START] Fine tuning step:
>> Epoch 0 finished 	ANN training loss 0.031750
>> Epoch 1 finished 	ANN training loss 0.029570
>> Epoch 2 finished 	ANN training loss 0.026038
>> Epoch 3 finished 	ANN training loss 0.020449
>> Epoch 4 finished 	ANN training loss 0.013441
[END] Fine tuning step

SupervisedDBNRegression(batch_size=16, dropout_p=0, l2_regularization=1.0,
            learning_rate=0.01, n_iter_backprop=5, verbose=True)

In [9]:
# Test
X_test = min_max_scaler.transform(X_test)
Y_pred = regressor.predict(X_test)
print('Done.\nR-squared: %f\nMSE: %f' % (r2_score(Y_test, Y_pred), mean_squared_error(Y_test, Y_pred)))

Done.
R-squared: 0.621650
MSE: 0.013560

In [10]:
print(len(Y_pred))
temp = []
for i in range(len(Y_pred)):
    temp.append(Y_pred[i][0])
d = {'Predicted': temp, 'Actual': Y_test}

df = pd.DataFrame(data=d)
df.head()

23477

    Actual  Predicted
0  0.34164   0.391683
1  0.33944   0.389944
2  0.33737   0.388308
3  0.33543   0.386773
4  0.33362   0.385339

In [11]:
df

        Actual  Predicted
0      0.34164   0.391683
1      0.33944   0.389944
2      0.33737   0.388308
3      0.33543   0.386773
4      0.33362   0.385339
5      0.33193   0.384003
6      0.33037   0.382763
7      0.32892   0.381618
8      0.32758   0.380565
9      0.32636   0.379604
10     0.32524   0.378732
11     0.32423   0.377946
12     0.32331   0.377239
13     0.32250   0.376625
14     0.32178   0.376098
15     0.32114   0.375645
16     0.32060   0.375271
17     0.32014   0.374973
18     0.31976   0.374749
19     0.31946   0.374599
20     0.31923   0.374519
21     0.31907   0.374509
22     0.31898   0.374567
23     0.31895   0.374690
24     0.31898   0.374877
25     0.31907   0.375126
26     0.31921   0.375436
27     0.31940   0.375804
28     0.31964   0.376229
29     0.31992   0.376705
...        ...        ...
23447  0.38542   0.309266
23448  0.38541   0.309141
23449  0.38540   0.309015
23450  0.38539   0.308890
23451  0.38538   0.308765
23452  0.38537   0.308639
23453  0.38536   0.308514
23454  0.38535   0.308389
23455  0.38534   0.308263
23456  0.38533   0.308138
23457  0.38532   0.308012
23458  0.38531   0.307887
23459  0.38530   0.307761
23460  0.38529   0.307636
23461  0.38528   0.307510
23462  0.38527   0.307385
23463  0.38526   0.307260
23464  0.38526   0.307134
23465  0.38525   0.307008
23466  0.38524   0.306883
23467  0.38523   0.306757
23468  0.38522   0.306632
23469  0.38521   0.306506
23470  0.38521   0.306380
23471  0.38520   0.306255
23472  0.38519   0.306129
23473  0.38518   0.306004
23474  0.38517   0.305878
23475  0.38517   0.305752
23476  0.38516   0.305626

[23477 rows x 2 columns]

In [12]:
# Save the model
regressor.save('models/pm1-witheng.pkl')

# # Restore
# classifier = SupervisedDBNClassification.load('model.pkl')

# # Test
# Y_pred = classifier.predict(X_test)
# print('Done.\nAccuracy: %f' % accuracy_score(Y_test, Y_pred))

In [13]:
df.to_csv("output/pm1_eng_output_" + FILENAME + EXT, encoding='utf-8')